@media (min-width: 600px) and (max-width: 1199px) {
    .container{
        padding: 50px;
    }

    header {
        height: auto;
    }

    .info {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }
}

@media (max-width: 599px) {
    .info {
        grid-template-columns: 1fr;
        height: 100%;
        gap: 10px;
    }

    .container{
        padding: 10px;
        height: auto;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .banner {
        height: 400px;
    }

    .bear_icon {
        height: 30px;
    }

    nav>a {
        margin-left: 4px;
        margin-right: 4px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color:rgb(221, 221, 221);
        background-color:rgba(0, 0, 0, 0);
        display: block;
        block-size: 30px;
        text-align: center;
        
    }

    nav>a>p {
        font-size: 15px;
        padding: 5px;
        text-align: center;
        margin: 0;
    }

    
}