body {
    background: rgb(5, 5, 5);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

header {
    height: 70px;
    position: sticky;
    top: 0;
    background-color: rgba(5, 5, 5, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    z-index: 5;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color:rgb(221, 221, 221);
    background-color: background-color:rgba(0, 0, 0, 0);
}

nav>a:hover{ 

    /* dodelat */

    /* animation-name: navigation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
    transform: scale(1.1);
    
}

.banner{
    padding-top: 5px;
    padding-bottom: 5px;
    background: url(../images/bear_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: hard-light;
    align-items: center;
    color: #b6b6b6;
    height: 90vh;
    width: 100vw;

    
    display: flex;
    justify-content: end;
    text-align: center;
    flex-direction: column;
    
    top: 0;
    left: 0;
    /* right: 0; */
    /* bottom: 0; */
    position: relative;
    /* width: 100vw; */
    /* padding: 100px calc(50% - 600px); */
}

.banner h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.banner h2 {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.banner::before {
	content: '';
	/* display: block; */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
    z-index: 1;
}

.info {
    height: 1600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-template-rows: repeat(2, 1fr);
    /* margin-left: 300px;
    margin-right: 300px; */
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.container {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.card {
    background-color: rgba(5, 5, 5, 0.9);
    border: 2px solid #b6b6b6;
    border-radius: 10px;
    z-index: 2;
    color: #b6b6b6;
    padding: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.card i {
    font-size: 4em;
}

@keyframes navigation {
    0% {
        transform: scale(1.0);
    }
    33% {
        transform: scale(1.5);
    }
    66% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
}

/* .darker_bg {
    background-color: rgb(5, 5, 5);
} */



.block_2 {
    color: #b6b6b6;
}

/* .logo {
} */

.bear_icon {
    height: 60px;
}



/* footer {

} */